body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;	
	background: $firstColor;	
}

html{
	height: 100%;
}

//Custom Font Import
//@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat');

p{
	font-family: $defaultFont;
	font-size: 16px;
	line-height: 30px;
}

a {
	font-family: $defaultFont;
	transition: 0.3s;
	text-decoration: none;

	&:hover {
		color: $firstColor;
	}
}

a {
	font-family: $defaultFont;
	transition: 0.3s;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: $titleFont;
}

ul{
	margin: 0;
	padding: 0;
	display: flex;

	li{
		text-decoration: none;
		font-family: $defaultFont;
		list-style-type: none;
	}
}

ol{

	li{
		font-family: $defaultFont;

		&::first-letter{
			text-transform: capitalize;
		}
	}
}

button {
	font-family: $fontColor;
	font-weight: bold;
	color: $firstColor;
	background: $firstColor;
	padding: 10px 20px;
	border: none;
	font-size: 22px;
	width: auto;

	&:hover {
		background-color: $secondColor;
		transition: 0.3s;
	}
}

header {

}

.navbar{
	background: $secondColor;
	width: 100%;
	height: 75px;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	font-size: 2rem;

	.logo{
		height: 100%;
		display: flex;
		align-items: center;
		display: inline-flex;

		h1{
			display: flex;
			margin: 0 15px;
			font-size: 2.4rem;
		}
	}

	ul{
		height: 100%;
		align-items: center;
	}

	a{
		color: $fontColor;
	}

	.profile{
		display: flex;
		align-items: center;
		border-left: 1px solid black;
		float: right;
		margin-left: auto;
		padding: 0 15px;
	}
}

main{
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100%;
}

.block{
	width: 900px;
	height: 600px;
	margin: 25px auto 0 auto;
	background: $greenDark;
	border-radius: 35px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	p{
		color: $greenLight;
		font-size: 3rem;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	padding: 1px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-image: linear-gradient(to right, $greenDark, black, $greenDark);
	width: 500px;
}

.grid-item {
	border: 2px solid $greenLight;
	box-shadow: 0 0 7px $greenLight;
	padding: 10px;
	font-size: 30px;
	text-align: center;
	height: 50px;
}