@font-face {
	font-family: perfect DOS;
	src: url('fonts/Perfect DOS VGA 437 Win.ttf');
}

$firstColor: #B6AD9E;
$secondColor: #C4C4C4;

$greenDark: #003B00;
$greenLight: #00FF41;

$defaultFont: perfect DOS, sans-serif;
$titleFont: perfect DOS, sans-serif;

$fontColor: black;