@font-face {
  font-family: perfect DOS;
  src: url("fonts/Perfect DOS VGA 437 Win.ttf");
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #B6AD9E;
}

html {
  height: 100%;
}
div{
  font-family: perfect DOS, sans-serif;
}

p {
  font-family: perfect DOS, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

a {
  font-family: perfect DOS, sans-serif;
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  color: #B6AD9E;
}

a {
  font-family: perfect DOS, sans-serif;
  transition: 0.3s;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: perfect DOS, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul li {
  text-decoration: none;
  font-family: perfect DOS, sans-serif;
  list-style-type: none;
}

ol li {
  font-family: perfect DOS, sans-serif;
}
ol li::first-letter {
  text-transform: capitalize;
}

button {
  font-family: black;
  font-weight: bold;
  color: #B6AD9E;
  background: #B6AD9E;
  padding: 10px 20px;
  border: none;
  font-size: 22px;
  width: auto;
}
button:hover {
  background-color: #C4C4C4;
  transition: 0.3s;
}

.navbar {
  background: #C4C4C4;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}
.navbar .logo {
  height: 100%;
  display: flex;
  align-items: center;
  display: inline-flex;
}
.navbar .logo h1 {
  display: flex;
  margin: 0 15px;
  font-size: 2.4rem;
}
.navbar ul {
  height: 100%;
  align-items: center;
}
.navbar a {
  color: black;
}
.navbar .profile {
  display: flex;
  align-items: center;
  border-left: 1px solid black;
  float: right;
  margin-left: auto;
  padding: 0 15px;
}

main {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 900px;
  height: 600px;
  margin: 25px auto 0 auto;
  background: #003B00;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.block p {
  color: #00FF41;
  font-size: 3rem;
}
.text-green {
  color: #00FF41;
  font-size: 3rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 1px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-image: linear-gradient(to right, #003B00, black, #003B00);
  width: 500px;
}

.grid-item {
  border: 2px solid #00FF41;
  box-shadow: 0 0 7px #00FF41;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 50px;
  transition: 0.3s;
}
.grid-item:hover {
  background-color: #00FF41;
  cursor: pointer;
}
.grid-item.preview {
  background-color: #00FF41;
}

.gameview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-screen {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 25px;
}
.player-screen .intro {
  width: 500px;
  background-color: #003B00;
  color: #00FF41;
  border-radius: 15px;
  margin: 0 0 15px;
  padding: 15px 15px;
}
.player-screen .intro h1, .player-screen .intro h2 {
  color: #00FF41;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.player-screen .intro .options {
  display: flex;
  flex-direction: row;
}
.player-screen .intro .options a {
  padding: 0 15px;
  color: #00FF41;
}
.black-outline{
  text-shadow: 2px 2px 0px #000;
}

/*# sourceMappingURL=compiled.css.map */
