.row {
    display: flex;
    flex-direction: row;
}

.textSmall {
    font-size: 200%;
}

.col {
    display: flex;
    width: 25%;
    height: auto;
    margin: auto;
}

.mtAuto {
    margin-top: auto;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: (16px * .25);
}

.mt2 {
    margin-top: (16px * .5);
}

.mt3 {
    margin-top: 16px;
}

.mxAuto {
    margin-left: auto;
    margin-right: auto;
}

.pt0{
    padding-top: 0;
}

.pt1{
    padding-top:  (16px * .25);
}

.pt2{
    padding-top:  (16px * .5);
}

.pt3{
    padding-top:  16px;
}

.textCenter {
    text-align: center;
}

.mapSelector {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.mapSelector+div {
    cursor: pointer;
}

.mapSelector:checked+div {
    outline: 4px solid #00FF41;
}

.imageContainer {
    width: 160px;
    height: 280px;
}

.Hawaii {
    background-image: url("/images/MapImages/Hawaii Sea.jpg");
}

.Siberia {
    background-image: url("/images/MapImages/Siberia Sea.jpg");
}

.Omaha {
    background-image: url("/images/MapImages/Omaha Beach.jpg");
}

.HoverBlack:hover {
    color: #000;
}

.submitButton {
    padding: 15px 32px;
    font-family: perfect DOS, sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: #00000000;
    color: #00FF41;
    border: 2px solid #00FF41;
    transition-duration: 0.4s;
}

.submitButton:hover {
    background-color: #00FF41;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inputNumber{
    background-color: #00000000;
}

